*{
  font-family: helvetica;
}

.top-of-site {
  background-image: url('../css/grand-canyon.jpg');
  width: 100%;
  height: auto;
  background-repeat: no-repeat;
  background-position: center top;


}

.link{
  display: inline-block;
  margin: 20px;
  color: white;
}

.link-list{
  display: inline-block;
  vertical-align: top;
  margin-top: 35px;
  margin-right: 10px;
  margin-left: 600px;
}

.nav{
  width: 100%;
}

#site-logo {
  width: 200px;
  height: auto;
  display: inline-block;
}


.jumbo-text{
  font-size: 88px;
  text-align: center;
  color: white;
}

.start-button{
  color: white;
  font-size: 24px;
  background-color: violet;
  border-radius: 10px;
  width: 150px;
  padding: 20px;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.link-tile{
  display: inline-block;
  width: 300px;
  margin: 25px;
  text-align: center;
}

.tile-title{
  color: grey;
  font-variant: small-caps;
  font-size: 18px;
}

.tile-detail{
  color: grey;
  font-size: 14px;
}

#footerText{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 1100px;
}

.tile-image{
  width: 200px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
